name: Flutter CI with caching

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Flutter CI on ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checks-out repo
        uses: actions/checkout@v3

      - uses: kuhnroyal/flutter-fvm-config-action@v1
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}
          channel: ${{ env.FLUTTER_CHANNEL }}
          cache: true
          cache-key: 'flutter-:os:-:channel:-:version:-:arch:-:hash:'
          cache-path: ${{ runner.tool_cache }}/flutter/:channel:-:version:-:arch:
          architecture: x64 # optional, x64 or arm64

      # Flutter pub dependency のキャッシュを確認 ( `pubspec.lock` のHash値で比較)
      - name: Check if Flutter pub cache exist
        id: cache_flutter_pub
        uses: actions/cache@v3
        env:
          cache-name: flutter_pub
        with:
          path: ~/.pub-cache
          key: ${{ matrix.os }}-${{ env.cache-name }}-${{ hashFiles('./pubspec.lock') }}

      # [Flutter pub dependency のキャッシュがない場合] Flutter pub の依存関係インストール
      - name: Install dependencies
        if: steps.cache_flutter_pub.outputs.cache-hit != 'true'
        run: flutter pub get

      # Flutter Analyze
      - name: Run `flutter analyze`
        run: flutter analyze --fatal-warnings --fatal-infos .

      # Flutter test
      - name: Run `flutter test`
        run: flutter test
