name: Flutter CI with caching

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Flutter CI on ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checks-out repo
        uses: actions/checkout@v3

      - name: Get flutter version & channel from fvm_config.json
        uses: kuhnroyal/flutter-fvm-config-action@v1

      - name: Install or restore flutter SDK
        uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}
          channel: ${{ env.FLUTTER_CHANNEL }}
          cache: true
          cache-key: "flutter-:os:-:channel:-:version:-:arch:-:hash:"
          cache-path: "${{ runner.tool_cache }}/flutter/:channel:-:version:-:arch:"

      # pubspec dependencies をキャッシュ
      - name: Cache pubspec dependencies
        id: cache_pubspec_dependencies
        uses: actions/cache@v3
        with:
          path: |
            ${{ env.FLUTTER_HOME }}/.pub-cache
            **/.packages
            **/.flutter-plugins
            **/.flutter-plugin-dependencies
            **/.dart_tool/package_config.json
          key: ${{ matrix.os }}-pubspec_dependencies-${{ hashFiles('**/pubspec.lock') }}

      # [pubspec dependenciesのキャッシュがない場合] pubspec dependencies をインストール
      - name: Install pubspec dependencies
        if: steps.cache_pubspec_dependencies.outputs.cache-hit != 'true'
        run: flutter pub get

      # Build runner のビルド結果をキャッシュ
      - name: Cache build runner
        id: cache_build_runner
        uses: actions/cache@v3
        with:
          path: |
            **/.dart_tool/build
            **/*.g.dart
            **/*.freezed.dart
            **/*.gr.dart
          key: ${{ matrix.os }}-build_runner-${{ hashFiles('**/asset_graph.json') }}-${{ hashFiles('**/pubspec.lock') }}

      # [Build runner のビルド結果のキャッシュがない場合] Build runner でビルド
      - name: Run build runner
        if: steps.cache_build_runner.outputs.cache-hit != 'true'
        run: flutter pub run build_runner build
